Repository utopia-rise/godot-kotlin-jvm, pull requests merged in 2022-07, with the labels that each got.

#324 Feature/update to kotlin 1.6.21 and add deployment IJ213 intellij plugin
  .github/workflows/check-pr-intellij-plugin.yaml
  .github/workflows/deploy-intellij-plugin.yaml
  docs/src/doc/index.md
  docs/src/doc/user-guide/versioning.md
  harness/tests/build.gradle.kts
  kt/api-generator/build.gradle.kts
  kt/buildSrc/build.gradle.kts
  kt/buildSrc/src/main/kotlin/DependenciesVersions.kt
  kt/buildSrc/src/main/kotlin/godotKotlinJvmVersion.kt
  kt/entry-generation/godot-kotlin-symbol-processor/src/main/kotlin/godot/annotation/processor/compiler/KtCallExpressionExtractor.kt
  kt/plugins/godot-intellij-plugin/build.gradle.kts
  kt/plugins/godot-intellij-plugin/src/main/kotlin/godot/intellij/plugin/annotator/property/KtExpressionConstantChecker.kt
Labels: enhancement

#333 Update IDE plugin and define a more lenient supported max version
  .github/workflows/check-pr-intellij-plugin.yaml
  .github/workflows/deploy-intellij-plugin.yaml
  kt/plugins/godot-intellij-plugin/build.gradle.kts
  kt/plugins/godot-intellij-plugin/src/main/kotlin/godot/intellij/plugin/annotator/copy/CopyModificationAnnotator.kt
  kt/plugins/godot-intellij-plugin/src/main/kotlin/godot/intellij/plugin/annotator/reference/RSetPropertyReferenceChecker.kt
  kt/plugins/godot-intellij-plugin/src/main/kotlin/godot/intellij/plugin/annotator/reference/RpcFunctionReferenceChecker.kt
  kt/plugins/godot-intellij-plugin/src/main/kotlin/godot/intellij/plugin/listener/KtPsiTreeListener.kt
Labels: topic:ide-plugin

#339 Support abstract classes
  docs/mkdocs.yml
  docs/src/doc/user-guide/advanced/abstract_classes.md
  harness/tests/project.godot
  harness/tests/src/main/kotlin/godot/tests/inheritance/AbstractClassInheritanceChild.kt
  harness/tests/src/main/kotlin/godot/tests/inheritance/AbstractClassInheritanceParent.kt
  harness/tests/test/unit/test_inheritance_abstract.gd
  kt/entry-generation/godot-entry-generator/src/main/kotlin/godot/entrygenerator/filebuilder/ClassRegistrarFileBuilder.kt
  kt/entry-generation/godot-entry-generator/src/main/kotlin/godot/entrygenerator/generator/PropertyRegistrationGenerator.kt
  kt/entry-generation/godot-entry-generator/src/main/kotlin/godot/entrygenerator/model/Clazz.kt
  kt/entry-generation/godot-entry-generator/src/main/kotlin/godot/entrygenerator/model/RegisteredClass.kt
  kt/entry-generation/godot-kotlin-symbol-processor/src/main/kotlin/godot/annotation/processor/ext/ksClassDeclarationExt.kt
  kt/plugins/godot-intellij-plugin/detekt-config.yml
  kt/plugins/godot-intellij-plugin/src/main/kotlin/godot/intellij/plugin/annotator/clazz/RegisterClassAnnotator.kt
  kt/plugins/godot-intellij-plugin/src/main/kotlin/godot/intellij/plugin/annotator/function/RegisterFunctionAnnotator.kt
  kt/plugins/godot-intellij-plugin/src/main/kotlin/godot/intellij/plugin/codevision/RegisteredNameInlayHint.kt
  kt/plugins/godot-intellij-plugin/src/main/kotlin/godot/intellij/plugin/quickfix/FunctionNotRegisteredQuickFix.kt
  kt/plugins/godot-intellij-plugin/src/main/resources/messages/generalLabels.properties
Labels: topic:ide-plugin, topic:entry-gen

#335 Fix invalid comment sequence in doc gen
  kt/api-generator/src/main/kotlin/godot/docgen/rawXmlPojos.kt
Labels: topic:api-gen

#329 4.0/implement new types protocol
  CMakeLists.txt
  kt/godot-library/src/main/kotlin/godot/core/Callable.kt
  kt/godot-library/src/main/kotlin/godot/core/Functions.kt
  kt/godot-library/src/main/kotlin/godot/core/KtCustomCallable.kt
  kt/godot-library/src/main/kotlin/godot/core/Rect2i.kt
  kt/godot-library/src/main/kotlin/godot/core/StringName.kt
  kt/godot-library/src/main/kotlin/godot/core/Variant.kt
  kt/godot-library/src/main/kotlin/godot/core/callable/KtCallable.kt
  kt/godot-library/src/main/kotlin/godot/core/callable/KtCallables.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/AnimatedSprite2D.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/CollisionPolygon2D.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/CollisionShape2D.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/GPUParticlesCollisionHeightField3D.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/SceneTree.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/Shape2D.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/VisualShaderNodeVectorFunc.kt
  src/bridges/callable_bridge.cpp
  src/bridges/callable_bridge.h
  src/bridges/constants.h
  src/bridges/memory_bridge.cpp
  src/bridges/string_name_bridge.cpp
  src/bridges/string_name_bridge.h
  src/bridges_manager.cpp
  src/bridges_manager.h
  src/gd_kotlin.cpp
  src/gd_kotlin.h
  src/java_instance_wrapper.h
  src/jni/env.cpp
  src/jni/env.h
  src/jni/types.cpp
  src/jni/types.h
  src/kotlin_editor_export_plugin.cpp
  src/kotlin_editor_export_plugin.h
  src/kotlin_language.cpp
  src/kotlin_language.h
  src/kotlin_script.cpp
  src/kotlin_script.h
  src/kt_custom_callable.cpp
  src/kt_custom_callable.h
  src/kt_variant.h
  src/transfer_context.cpp
  src/transfer_context.h
Labels: GD4
