Repository utopia-rise/godot-kotlin-jvm, pull requests merged in 2023-10, with the labels that each got.

#511 Core type checks and error reporting improvements
  harness/tests/otherSourceDir/CopyModificationCheckTestClass.kt
  kt/plugins/godot-gradle-plugin/src/main/kotlin/godot/gradle/properties/GodotKotlinJvmPropertiesFileImpl.kt
  kt/plugins/godot-intellij-plugin/src/main/kotlin/godot/intellij/plugin/annotator/copy/CopyModificationAnnotator.kt
  kt/plugins/godot-intellij-plugin/src/main/kotlin/godot/intellij/plugin/gradle/GradleCompatibility.kt
  kt/plugins/godot-intellij-plugin/src/main/resources/messages/generalLabels.properties
  kt/plugins/godot-plugins-common/src/main/kotlin/godot/plugins/common/GodotKotlinJvmPropertiesFile.kt
Labels: topic:ide-plugin

#512 Rewind() called early in TransferContext
  kt/godot-library/src/main/kotlin/godot/core/Constructors.kt
  kt/godot-library/src/main/kotlin/godot/core/KtObject.kt
  kt/godot-library/src/main/kotlin/godot/core/Properties.kt
  kt/godot-library/src/main/kotlin/godot/core/callable/KtCallable.kt
  kt/godot-library/src/main/kotlin/godot/core/memory/TransferContext.kt
  src/memory/transfer_context.cpp
  src/memory/transfer_context.h
Labels: enhancement, topic:core

#513 fix(api-gen): set right variant type for bitfield types
  kt/api-generator/src/main/kotlin/godot/codegen/extensions/TypedExtensions.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/ArrayMesh.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/BaseButton.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/CanvasItem.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/Control.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/DisplayServer.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/Font.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/FontFile.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/Input.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/InputEventMouse.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/InputEventWithModifiers.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/Label.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/Label3D.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/NavigationAgent2D.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/NavigationAgent3D.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/NavigationPathQueryParameters2D.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/NavigationPathQueryParameters3D.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/Node.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/RDTextureFormat.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/RenderingDevice.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/RenderingServer.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/ResourceSaver.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/RichTextLabel.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/TextLine.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/TextMesh.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/TextParagraph.kt
  kt/godot-library/src/main/kotlin/godot/gen/godot/TextServer.kt
Labels: bug, topic:api-gen

#483 Feature/use kotlin preprocessors plugin
  .github/workflows/check-pr-engine-editor-debug-and-tests.yaml
  .github/workflows/check-pr-jvm-godot-library.yaml
  .github/workflows/deploy-godot-library.yaml
  docs/mkdocs.yml
  docs/src/doc/user-guide/compiling-your-project.md
  harness/tests/settings.gradle.kts
  kt/build-logic/convention/src/main/kotlin/publish/PublishToMavenCentralPlugin.kt
  kt/godot-library/build.gradle.kts
  kt/godot-library/src/main/kotlin/godot/core/AABB.kt
  kt/godot-library/src/main/kotlin/godot/core/Basis.kt
  kt/godot-library/src/main/kotlin/godot/core/KtObject.kt
  kt/godot-library/src/main/kotlin/godot/core/Quaternion.kt
  kt/godot-library/src/main/kotlin/godot/core/Transform2D.kt
  kt/godot-library/src/main/kotlin/godot/core/Transform3D.kt
  kt/godot-library/src/main/kotlin/godot/core/Vector2.kt
  kt/godot-library/src/main/kotlin/godot/core/Vector3.kt
  kt/godot-library/src/main/kotlin/godot/core/memory/TransferContext.kt
  kt/gradle/libs.versions.toml
  kt/plugins/godot-gradle-plugin/src/main/kotlin/godot/gradle/projectExt/projectExtensions.kt
  kt/plugins/godot-gradle-plugin/src/main/kotlin/godot/gradle/projectExt/setupConfigurationsAndCompilations.kt
  kt/plugins/godot-gradle-plugin/src/main/kotlin/godot/gradle/tasks/packageMainJar.kt
  kt/plugins/godot-publish-gradle-plugin/src/main/kotlin/godot/publish/gradle/mavencentral/PublishToMavenCentralPlugin.kt
Labels: enhancement
